.options {
  display: grid;
  grid-template-columns: 20% auto;
  background-color: white;
}

label {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.button-group {
  display: flex;
  justify-content: space-evenly;
}

.exam {
  position: relative;
  /* top: 20px; */
}

h1.test-msg {
  font-size: 40px;
}

.test-input {
  outline-style: none;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 6px 6px;
  width: 250px;
  top: 26%;
  /* position: absolute; */
  font-size: 40px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
}

.shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
}

.warn {
  outline-style: none;
  border: 1px solid crimson;
  /* color: crimson; */
  border-radius: 3px;
  padding: 6px 6px;
  width: 250px;
  top: 26%;
  /* position: absolute; */
  font-size: 40px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
}

.hidden {
  display: none;
}

.rate-wrapper {
  display: flex;
  justify-content: center;
}

div.chart {
  width: 90%;
  margin: 0% 5% 5% 5%;
}

div.chart-options {
  margin: 3% 5% 0% 5%;
  display: flex;
  justify-content: center;
  width: 90%;
}

.zoom {
  animation: zoom 1s ease-in;
  transform: translate3d(0, 0, 0);
}

@keyframes zoom {
  0% {
    color: black;
    /* transform: translate3d(-1px, 0, 0); */
    /* transform: scale(1); */
  }

  50% {
    color: green;
    /* transform: translate3d(10px, 0, 0); */
    transform: scale(1.2);
  }

  100% {
    color: blue;
    transform: translateX(0rpx);
    transform: scale(1);
  }
}

.flipX {
  animation: 1s anim-flipX ease;
}
@keyframes anim-flipX {
  0% {
    opacity: 0;
    transform: rotateX(90def);
  }
  50% {
    opacity: 1;
    transform: rotateX(720deg);
  }
  100% {
    /* animate nothing to pause animation at the end */
    opacity: 1;
    transform: rotateX(720deg);
  }
}
